In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("SG/train", sep="\n", names=['input']) 
# Preview the first 5 lines of the loaded data 
# df[['x','y']] = df.input.str.split(" ",expand=True,)
sample_df = df.head(10).copy()

In [18]:
sample_df

                 input
0            Welcome O
1              lunch O
2                for O
3  Charlotte B-neutral
4                and O
5        Tin B-neutral
6          2 I-neutral
7                  . O
8        #DellPinoys O
9      #iworkfordell O

In [19]:
sample_df[['x','y']] = sample_df.input.str.split(" ",expand=True,)

In [20]:
sample_df

                 input              x          y
0            Welcome O        Welcome          O
1              lunch O          lunch          O
2                for O            for          O
3  Charlotte B-neutral      Charlotte  B-neutral
4                and O            and          O
5        Tin B-neutral            Tin  B-neutral
6          2 I-neutral              2  I-neutral
7                  . O              .          O
8        #DellPinoys O    #DellPinoys          O
9      #iworkfordell O  #iworkfordell          O

In [8]:
# sample_df = sample_df.drop(columns='input')

In [23]:
# sample_df
sample_df.loc[10]=['2 I-neutral','2', 'I-neutral']
sample_df

                  input              x          y
0             Welcome O        Welcome          O
1               lunch O          lunch          O
2                 for O            for          O
3   Charlotte B-neutral      Charlotte  B-neutral
4                 and O            and          O
5         Tin B-neutral            Tin  B-neutral
6           2 I-neutral              2  I-neutral
7                   . O              .          O
8         #DellPinoys O    #DellPinoys          O
9       #iworkfordell O  #iworkfordell          O
10          2 I-neutral              2  I-neutral

In [30]:
# column_name=['O','B-negative','B-positive','B-neutral','I-negative','I-positive','I-neutral']
# target_df_y = pd.DataFrame(columns=column_name)
# ind = 0
# for index,row in sample_df.iterrows():
#     new_row =[0 for i in range(len(column_name))]
# #     print(row['y'])
#     index = column_name.index(row['y'])
#     new_row[index]=1
#     target_df_y.loc[ind] = new_row
#     ind+=1
# target_df_y

In [13]:
# column_name=['O','B-negative','B-positive','B-neutral','I-negative','I-positive','I-neutral']
# target_df_bloop = pd.DataFrame(columns=column_name)
# loop=[0 for i in range(7)]
# target_df_bloop.loc[0] = loop
# target_df_bloop.loc[1] = loop
# target_df_bloop

   O B-negative B-positive B-neutral I-negative I-positive I-neutral
0  0          0          0         0          0          0         0
1  0          0          0         0          0          0         0

In [24]:
# get count of tags
column_name=['O','B-negative','B-positive','B-neutral','I-negative','I-positive','I-neutral']
tags = { i : 0 for i in column_name }
for index,row in sample_df.iterrows():
    y_val = row.get('y', default=None)
    tags[y_val]+=1
tags

{'O': 7,
 'B-negative': 0,
 'B-positive': 0,
 'B-neutral': 2,
 'I-negative': 0,
 'I-positive': 0,
 'I-neutral': 2}

In [25]:
# count no. of x->y
count_xy ={}
for index,row in sample_df.iterrows():
    xy = row.get('input', default=None)
    if xy in count_xy.keys():
        count_xy[xy]+=1
    else:
        count_xy[xy]=1
count_xy

{'Welcome O': 1,
 'lunch O': 1,
 'for O': 1,
 'Charlotte B-neutral': 1,
 'and O': 1,
 'Tin B-neutral': 1,
 '2 I-neutral': 2,
 '. O': 1,
 '#DellPinoys O': 1,
 '#iworkfordell O': 1}

In [27]:
emission_table={}
for key,value in count_xy.items():
    get_tag = key.split(" ")
    y = tags[get_tag[1]]
    emission = value/y
    emission_table[key]=emission
emission_table

{'Welcome O': 0.14285714285714285,
 'lunch O': 0.14285714285714285,
 'for O': 0.14285714285714285,
 'Charlotte B-neutral': 0.5,
 'and O': 0.14285714285714285,
 'Tin B-neutral': 0.5,
 '2 I-neutral': 1.0,
 '. O': 0.14285714285714285,
 '#DellPinoys O': 0.14285714285714285,
 '#iworkfordell O': 0.14285714285714285}

In [29]:
def estimate_emission(x,y):
    query = str(x)+" "+ str(y)
    return emission_table[query]
estimate_emission('Welcome', "O")

0.14285714285714285

In [31]:
emission_table_k={}
k=0.5
for key,value in count_xy.items():
    get_tag = key.split(" ")
    y = tags[get_tag[1]]
    emission = value/(y+k)
    emission_table_k[key]=emission
emission_table_k

{'Welcome O': 0.13333333333333333,
 'lunch O': 0.13333333333333333,
 'for O': 0.13333333333333333,
 'Charlotte B-neutral': 0.4,
 'and O': 0.13333333333333333,
 'Tin B-neutral': 0.4,
 '2 I-neutral': 0.8,
 '. O': 0.13333333333333333,
 '#DellPinoys O': 0.13333333333333333,
 '#iworkfordell O': 0.13333333333333333}

In [32]:
def estimate_emission_with_unk(x,y):
    query = str(x)+" "+ str(y)
    if query not in emission_table.keys():
        # is an #UNK#
        print('is an #UNK#')
        return k/(tags[y]+k)
    else:
        return emission_table_k[query]
estimate_emission_with_unk('Welcome', "O")

0.13333333333333333

In [33]:
estimate_emission_with_unk('bloop','O')

is an #UNK#

0.06666666666666667